ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = YES
EMBEDDED_CONTENT_CONTAINS_SWIFT = YES
FRAMEWORK_SEARCH_PATHS = $(inherited) "$PODS_CONFIGURATION_BUILD_DIR/IQKeyboardManager" "$PODS_CONFIGURATION_BUILD_DIR/JExpandableTableView" "$PODS_CONFIGURATION_BUILD_DIR/JVFloatLabeledTextField" "$PODS_CONFIGURATION_BUILD_DIR/NYAlertViewController" "$PODS_CONFIGURATION_BUILD_DIR/PopupDialog" "$PODS_CONFIGURATION_BUILD_DIR/SVProgressHUD" "$PODS_CONFIGURATION_BUILD_DIR/SlideMenuControllerSwift" "$PODS_CONFIGURATION_BUILD_DIR/XLPagerTabStrip" "$PODS_CONFIGURATION_BUILD_DIR/YNExpandableCell" "${PODS_ROOT}/GoogleMaps/Base/Frameworks" "${PODS_ROOT}/GoogleMaps/Maps/Frameworks"
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) COCOAPODS=1
HEADER_SEARCH_PATHS = $(inherited) "${PODS_ROOT}/Headers/Public" "${PODS_ROOT}/Headers/Public/GoogleMaps"
LD_RUNPATH_SEARCH_PATHS = $(inherited) '@executable_path/Frameworks' '@loader_path/Frameworks'
OTHER_CFLAGS = $(inherited) -iquote "$PODS_CONFIGURATION_BUILD_DIR/IQKeyboardManager/IQKeyboardManager.framework/Headers" -iquote "$PODS_CONFIGURATION_BUILD_DIR/JExpandableTableView/JExpandableTableView.framework/Headers" -iquote "$PODS_CONFIGURATION_BUILD_DIR/JVFloatLabeledTextField/JVFloatLabeledTextField.framework/Headers" -iquote "$PODS_CONFIGURATION_BUILD_DIR/NYAlertViewController/NYAlertViewController.framework/Headers" -iquote "$PODS_CONFIGURATION_BUILD_DIR/PopupDialog/PopupDialog.framework/Headers" -iquote "$PODS_CONFIGURATION_BUILD_DIR/SVProgressHUD/SVProgressHUD.framework/Headers" -iquote "$PODS_CONFIGURATION_BUILD_DIR/SlideMenuControllerSwift/SlideMenuControllerSwift.framework/Headers" -iquote "$PODS_CONFIGURATION_BUILD_DIR/XLPagerTabStrip/XLPagerTabStrip.framework/Headers" -iquote "$PODS_CONFIGURATION_BUILD_DIR/YNExpandableCell/YNExpandableCell.framework/Headers" -isystem "${PODS_ROOT}/Headers/Public" -isystem "${PODS_ROOT}/Headers/Public/GoogleMaps"
OTHER_LDFLAGS = $(inherited) -ObjC -l"c++" -l"z" -framework "Accelerate" -framework "CoreData" -framework "CoreGraphics" -framework "CoreLocation" -framework "CoreText" -framework "GLKit" -framework "GoogleMaps" -framework "GoogleMapsBase" -framework "GoogleMapsCore" -framework "IQKeyboardManager" -framework "ImageIO" -framework "JExpandableTableView" -framework "JVFloatLabeledTextField" -framework "NYAlertViewController" -framework "OpenGLES" -framework "PopupDialog" -framework "QuartzCore" -framework "SVProgressHUD" -framework "SlideMenuControllerSwift" -framework "SystemConfiguration" -framework "UIKit" -framework "XLPagerTabStrip" -framework "YNExpandableCell"
OTHER_SWIFT_FLAGS = $(inherited) "-D" "COCOAPODS"
PODS_BUILD_DIR = $BUILD_DIR
PODS_CONFIGURATION_BUILD_DIR = $PODS_BUILD_DIR/$(CONFIGURATION)$(EFFECTIVE_PLATFORM_NAME)
PODS_ROOT = ${SRCROOT}/Pods
