<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IQKeyboardManager.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>JVFloatLabeledTextField.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>NYAlertViewController.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-Bakso.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>PopupDialog.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>SlideMenuControllerSwift.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>XLPagerTabStrip-XLPagerTabStrip.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>XLPagerTabStrip.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>YNExpandableCell.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2A4448146C785C426971111F117D773C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>731AFEA6A4D80B7DE5D29EB0A81D8FBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73EEC4E03E2605A68D6CB9AD536ED070</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96750974D2CCAC9A00E1F96C5D223D9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B6581181075140FB4E62F6AAB17E56A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AEF7E3613EBBD44046D05F4AAEEE7AB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4EE777443475007EA2AF463419FEB87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C36CB2CB977A4E7D954935096D00A1ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DAF64AE46D5032A024E111A2A871B61A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
