<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JVFloatLabeledTextField.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>NYAlertViewController.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-Bakso.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>PopupDialog.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>SlideMenuControllerSwift.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>XLPagerTabStrip-XLPagerTabStrip.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>XLPagerTabStrip.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2A4448146C785C426971111F117D773C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EDDAA5D53CB0717AD3C626A85077CD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A72B2D244C629EAC320ECD494E899626</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B00D94A861A87474228EF94655CF67B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1629B92AAC955906684BED322BCBBBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BFF9B13C3ED8EB62440C2399D2FEF88B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DAF64AE46D5032A024E111A2A871B61A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
